@import "../../../variables.scss";

.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
    
    & + label {
        position: fixed;
        right: 5mm;
        top: 5mm;
        padding: 2mm;
        border-radius: 5mm;
        background-color: $accent;
        box-shadow: 1mm 1mm 2mm rgba(33,33,33, .5);
        cursor: pointer;
    }
}

@media screen and (orientation: portrait) {
    canvas {
        width: 100%;
    }
}
@media screen and (orientation: landscape) {
    canvas {
        height: 100%;
    }
}